
*{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

h1{
    font-size: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#edessegek th {
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    border-width: 3px;
    font-size: 30px;
    text-transform: uppercase;
}

.elnevezes {
    font-size: 45 px;
    font-style: oblique;
    font-weight: bold;
}